*{
padding:0;
margin:0;
color: white;
}
::-webkit-scrollbar {
  width: 0;
}
::-webkit-scrollbar {
  height: 0;
}
body {
font-size: 14px;
font-family: 'Lexend', sans-serif;
}
#header{
background-color: green;
color: white;
text-align: center;
width: 100%;
padding: 10px;
font-size: 20px;
}
#footer{
background-color: black;
color: white;
text-align: center;
width: 100%;
padding: 5px;
position: fixed;
bottom: 0;
}
#content{
margin: 0 auto;
max-width:600px;
display: flex;
height: 100%;
}
.leftbar{
padding: 40px;
height: 700px;
position: absolute;
background-color: red;
}
.rightbar p{
color:black;
}
.rightbar{
text-align: justify;
padding: 20px;
margin-left: 205px;
background-color: white;
height: 100%;
}
.rightbar p::selection{
background: green;
color: white;
}
.list {
width: 125px;
}
.leftbar li{
padding: 10px;
}
span{
color:red;
font-size: 20px;
}
li:hover{
background-color:green;
}